@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Dungeons and Dragons (Подземелья и драконы, D&D, ДнД) — 
        это настольная ролевая игра, центральное место в которой 
        занимает история, рассказываемая её участниками. 
        Каждый игрок придумывает себе персонажа и отправляется 
        в долгое и полное опасностей и сокровищ приключение. 
        Прелесть игры в том, что конечный исход этой 
        истории не предрешён заранее, и большая часть 
        событий будет разворачиваться согласно действиям героев.
    </p>
</div>
